gpustat
fire
logzero
transformers==4.40.1
deepspeed==0.12.2
tokenizers==0.19
sentencepiece==0.1.99
shortuuid
accelerate==0.23.0
torch==2.1.2
torchvision==0.16.2
peft==0.5.0
bitsandbytes==0.41.0
scikit-learn==1.2.2
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
openai==1.4.0
decord==0.6.0
matplotlib
pytorchvideo==0.1.5
tyro==0.7.2
transformers_stream_generator
tiktoken
opencv-python
multiprocess==0.70.16
httpx==0.27.0 # Required for openai key for evals
av
imageio
# flash-attn==2.1.1 # use command pip install flash-attn --no-build-isolation